<header>
    <nav role="navigation" class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">RSVP</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a ui-sref="dashboard">Dashboard</a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle">Groups <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li class="dropdown-header">Brokers</li>
                <li><a ui-sref="group.add-broker">Add Broker</a></li>
                <li><a ui-sref="group.show-broker">Show Brokers</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Users</li>
                <li><a ui-sref="group.add-user">Add Users</a></li>
                <li><a ui-sref="group.show-user">Show Users</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#/dashboard">Places <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li class="dropdown-header">States</li>
                <li><a href="#/add-states">Add States</a></li>
                <li><a href="#/show-states">Show States</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Regions</li>
                <li><a href="#/add-region">Add Regions</a></li>
                <li><a href="#/show-region">Show Regions</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Hotels</li>
                <li><a href="#/add-hotel">Add Hotels</a></li>
                <li><a href="#/show-hotel">Show Hotels</a></li>
                <li class="dropdown-header">Room Type</li>
                <li><a href="#/add-room-type">Add Room Type</a></li>
                <li><a href="#/show-room-type">Show Room Type</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#/dashboard">Invoice <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
                <li class="dropdown-header">Invoice</li>
                <li><a href="#/add-invoice">Add Invoice</a></li>
                <li><a href="#/show-invoice">Show Invoice</a></li>
              </ul>
            </li>
            <li class=""><a href="#/report">Report</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li class=""><a href="#/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<pre>Matrix 1</pre>
		</div>
		<div class="col-md-4">
			<pre>Matrix 2</pre>
		</div>
		<div class="col-md-4">
			<pre>Matrix 3</pre>
		</div>
		<div class="col-md-6">
			<pre>Invoice Approval</pre>
		</div>
		<div class="col-md-6">
			<pre>Invoice Approval</pre>
		</div>
	</div>
</div>