<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="lead">List of Brokers</p>
    </div>
    <div class="col-md-10 mb-10">
      <div class="form-search search-only">
        <i class="search-icon glyphicon glyphicon-search"></i>
        <input class="form-control search-query" type="text" ng-model="searchText" >
      </div>
    </div>
    <div class="col-md-2 mb-10">
      <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Booker Name</th>
                      <th>Company Name</th>
                      <th>Email</th>
                      <th>Percentage</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr dir-paginate="broker in listOfBrokers | filter:searchText | itemsPerPage: pageSize" current-page="currentPage" pagination-id="brokersPagination">
                      <th scope="row">{{broker.id}}</th>
                      <td>{{broker.brokername}}</td>
                      <td>{{broker.brokercompany}}</td>
                      <td>{{broker.brokeremail}}</td>
                      <td>{{broker.brokerpercentage}}</td>
                      <td>
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#editModal" ng-click="editOpen(broker)">Edit</button>
                        <button class="btn btn-danger btn-block" type="button" data-toggle="modal" data-target="#deleteModal" data-whatever="{{broker.id}}">Delete</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
    <div class="col-md-12">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/partials/dirPagination.tpl.html" pagination-id="brokersPagination"></dir-pagination-controls>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title panel-title" id="myModalLabel">Delete Broker</h4>
      </div>
      <div class="modal-body">
          <p class="mt-10">Do you Want to Delete this Booker ?</p>
      </div>
      <div class="modal-footer panel-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" ng-click="deleteBroker()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form name="editForm" ng-submit="editBroker(editForm.$valid)">
      <div class="modal-content panel panel-info">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title panel-title" id="myModalLabel">Edit Broker</h4>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-12 mt-10">
                <div class="alert alert-danger" ng-show="editForm.brokername.$error.required || editForm.brokercompany.$error.required || editForm.brokeremail.$error.required || editForm.brokerpercentage.$error.required">
                  <strong>Oh snap!</strong> Entry can't be blank.
                </div>
                <div class="alert alert-danger" ng-show="editForm.brokerpercentage.$error.number">
                  <strong>Oh snap!</strong> Entry can only be number.
                </div>
                <div class="alert alert-danger" ng-show="editForm.brokerpercentage.$error.max || editForm.brokerpercentage.$error.min">
                  <strong>Oh snap!</strong> Entry can be range between [0,100].
                </div>
              </div>
              <div class="col-md-12 mt-10">
                <input type="text" placeholder="Name" name="brokername" class="form-control" ng-model="editContent['brokername']" required>
              </div>
              <div class="col-md-12 mt-10">
                <input type="text" placeholder="Company Name" name="brokercompany" class="form-control" ng-model="editContent['brokercompany']" required>
              </div>
              <div class="col-md-12 mt-10">  
                <input type="text" placeholder="Email" name="brokeremail" class="form-control" ng-model="editContent['brokeremail']" required>
              </div>
              <div class="col-md-12 mt-10 mb-10">
                <input type="number" min="0" max="100" name="brokerpercentage" class="form-control" ng-model="editContent['brokerpercentage']" required>
              </div>
            </div>
        </div>
        <div class="modal-footer panel-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-info" ng-disabled="editForm.$invalid" >Edit</button>
        </div>
      </div>
    </form>
  </div>
</div>