<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="lead">List of Users</p>
    </div>
    <div class="col-md-10 mb-10">
      <div class="form-search search-only">
        <i class="search-icon glyphicon glyphicon-search"></i>
        <input class="form-control search-query" type="text" ng-model="searchText" >
      </div>
    </div>
    <div class="col-md-2 mb-10">
      <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
    </div>
    <div class="col-md-12">
      <div class="table-responsive">
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>User Name</th>
                      <th>Email</th>
                      <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr dir-paginate="user in listOfUsers | filter:searchText | itemsPerPage: pageSize" current-page="currentPage" pagination-id="usersPagination">
                      <td>{{user.name}}</td>
                      <td>{{user.email}}</td>
                      <td>
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#editModal" ng-click="editOpen(user)">Edit</button>
                        <button class="btn btn-danger btn-block" type="button" data-toggle="modal" data-target="#deleteModal" data-whatever="{{user._id}}">Delete</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
    </div>
    <div class="col-md-12">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="app/partials/dirPagination.tpl.html" pagination-id="usersPagination"></dir-pagination-controls>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel panel-danger">
      <div class="modal-header panel-heading">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title panel-title" id="myModalLabel">Delete User</h4>
      </div>
      <div class="modal-body">
          <p class="mt-10">Do you Want to Delete this User ?</p>
      </div>
      <div class="modal-footer panel-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" ng-click="deleteUser()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <form name="editForm" ng-submit="editUser(editForm.$valid)">
      <div class="modal-content panel panel-info">
        <div class="modal-header panel-heading">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title panel-title" id="myModalLabel">Edit User</h4>
        </div>
        <div class="modal-body">
            <div class="row">
              <div class="col-md-12 mt-10">
                <div class="alert alert-danger" ng-show="editForm.username.$error.required || editForm.useremail.$error.required ">
                  <strong>Oh snap!</strong> Entry can't be blank.
                </div>
              </div>
              <div class="col-md-12 mt-10">
                <input type="text" placeholder="Name" name="username" class="form-control" ng-model="editContent['username']" required>
              </div>
              <div class="col-md-12 mt-10 mb-10">  
                <input type="text" placeholder="Email" name="useremail" class="form-control" ng-model="editContent['useremail']" required>
              </div>
            </div>
        </div>
        <div class="modal-footer panel-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="Submit" class="btn btn-info" ng-disabled="editForm.$invalid" >Edit</button>
        </div>
      </div>
    </form>
  </div>
</div>