<header ng-include src="'app/include/header.html'"></header>
<div class="container">
	<div class="row">
		<div class="col-md-12 mt-10">
			<div class="col-md-1 mt-10">
				<p class="filters"><span class="label label-info">Filters</span></p>
			</div>
			<div class="col-md-3 mt-10">
		        <label>Start Date</label>  
		        <p class="input-group">
		          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="Start" is-open="statusStart.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" disabled/>
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="openStart($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </p>
	      	</div>
	      	<div class="col-md-3 mt-10">
		        <label>End Date</label>  
		        <p class="input-group">
		          <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="End" is-open="statusEnd.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" ng-required="true" close-text="Close" disabled/>
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="openEnd($event)"><i class="glyphicon glyphicon-calendar"></i></button>
		          </span>
		        </p>
	      	</div>
	      	<div class="col-md-3 mt-10">
		        <label>Category</label>  
                <select ng-model="selectedCAT" class="form-control" ng-options="cat for cat in category"></select>
	      	</div>
      	</div>
		<div class="col-md-6 mt-10">
			<h4 align="center">Monthly Revenue Graph</h4>
			<hr/>
			<c3chart bindto-id="income" chart-data="datapoints1" chart-columns="datacolumns1" chart-x="datax1">
			  	<chart-axis>
			    	<chart-axis-x axis-position="outer-center" axis-label="Months" axis-type="category">
			        	<chart-axis-x-tick tick-rotate="0"/>
			      	</chart-axis-x>
			    	<chart-axis-y axis-id="y" axis-position="outer-right" axis-label="$" padding-top="100" padding-bottom="0" range-min="0"/>
			  	</chart-axis>
			</c3chart>
			<div class="col-md-6 mt-10">
				<h6>Total Revenue : <b>${{totalR}}</b></h6>
				<h6>Total Broker Commission : <b>${{totalB}}</b></h6>
				<h6>Total Commission Own : <b>${{totalAB}}</b></h6>
				<h6>Total GST Amount : <b>${{totalGST | number:2 }}</b></h6>
			</div>
			<div class="col-md-6 mt-10">
				<h6>Avg Total Revenue : <b>${{totalR / totalNR | number:2}}</b></h6>
				<h6>Avg Total Broker Commission : <b>${{totalB / totalNR | number:2}}</b></h6>
				<h6>Avg Total Commission Own : <b>${{totalAB / totalNR | number:2}}</b></h6>
				<h6>Avg Total GST Amount : <b>${{totalGST / totalNR | number:2}}</b></h6>
			</div>
		</div>
		<div class="col-md-6 mt-10">
			<h4 align="center">Number of Room Nights Graph</h4>
			<hr/>
			<c3chart bindto-id="nor" chart-data="datapoints2" chart-columns="datacolumns2" chart-x="datax1">
			  	<chart-axis>
			    	<chart-axis-x axis-position="outer-center" axis-label="Months" axis-type="category">
			        	<chart-axis-x-tick tick-rotate="0"/>
			      	</chart-axis-x>
			    	<chart-axis-y axis-id="y" axis-position="outer-right" axis-label="Number of Room Nights" padding-top="100" padding-bottom="0" range-min="0"/>
			  	</chart-axis>
			</c3chart>
			<div class="col-md-6 mt-10">
				<h6>Total No. of Room Night : <b>{{totalNR}}</b></h6>
			</div>
			<div class="col-md-6 mt-10">
				<h6>Total No. of Room Night : <b>{{totalNR / numberofdays | number:2}}</b></h6>
			</div>
		</div>
		<div class="col-md-12 mt-10">
			<h4 align="center">Name of Travellers, Hotels Utilised and Room Nights Used for the period: <b>{{Start | date:'mediumDate'}} to {{End | date:'mediumDate'}}</b></h4>
			<hr/>
			<div ng-repeat="(userkey, uservalue) in userusedrate">
				<h6 align="center"><span class="label label-primary">{{userkey}}</span></h6>
				<div class="table-responsive">
			        <table class="table table-bordered" ng-init="items.total = {}">
			            <thead>
			                <tr>
			                    <th>Location</th>
			                    <th>Hotel</th>
			                    <th>Total Revenue</th>
			                    <th>Number of Bookings</th>
			                    <th>Number of Room Nights</th>
			                    <th>Avg. Rate</th>
			                    <th>Avg. Lenght of Stay</th>
			                </tr>
			            </thead>
			            <tbody>
			                <tr ng-repeat="userdata in uservalue">
			                    <td>{{userdata.Region}}</td>
			                    <td>{{userdata.Hotel}}</td>
			                    <td ng-init="items.total.sum = items.total.sum + userdata.Total_Value">${{userdata.Total_Value}}</td>
			                    <td ng-init="items.total.nor = items.total.nor + $parent.$eval(userdata.nor);">{{userdata.nor}}</td>
			                    <td ng-init="items.total.norn = items.total.norn + userdata.Number_of_Room_Nights">{{userdata.Number_of_Room_Nights}}</td>
			                    <td>${{userdata.Total_Value / userdata.Number_of_Room_Nights | number:2}}</td>
			                    <td>{{userdata.Number_of_Room_Nights / userdata.nor | number:2}}</td>
			                </tr>
			            </tbody>
			            <tfoot>
			                <tr>
			                    <th>Total</th>
			                    <th></th>
			                    <th>${{items.total.sum}}</th>
			                    <th>{{items.total.nor | number}}</th>
			                    <th>{{items.total.norn}}</th>
			                    <th>${{items.total.sum / items.total.norn | number:2}}</th>
			                    <th>{{items.total.norn / items.total.nor | number:2}}</th>
			                </tr>
			            </tfoot>
			        </table>
			    </div>
			</div>
		</div>
		<div class="col-md-12 mt-10">
			<h4 align="center">Summary of Hotels utilised: <b>{{Start | date:'mediumDate'}} to {{End | date:'mediumDate'}}</b></h4>
			<hr/>
			<div class="table-responsive">
		        <table class="table table-bordered">
		            <thead>
		                <tr>
		                    <th>Hotel</th>
		                    <th>Number of Bookings</th>
		                    <th>Number of Room Nights</th>
		                    <th>Avg. Rate</th>
		                   	<th>Total Revenue</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-init="items.htotal = {}" ng-repeat="(hotelkey, hotelvalue) in hotelusedrate">
		                    <td>{{hotelkey}}</td>
		                    <td ng-repeat="hoteldata in hotelvalue" ng-init="items.htotal.nor = items.htotal.nor + $parent.$eval(hoteldata.nor);" ng-hide="true"></td>
		                    <td>{{items.htotal.nor | number}}</td>
		                   	<td ng-repeat="hoteldata in hotelvalue" ng-init="items.htotal.norn = items.htotal.norn + hoteldata.Number_of_Room_Nights;" ng-hide="true"></td>
		                    <td>{{items.htotal.norn | number}}</td>
		                    <td ng-repeat="hoteldata in hotelvalue" ng-init="items.htotal.sum = items.htotal.sum + hoteldata.Total_Value;" ng-hide="true"></td>
		                    <td>${{items.htotal.sum / items.htotal.norn | number:2}}</td>
		                    <td>${{items.htotal.sum}}</td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		</div>
	</div>
</div>
